<div
  [class.__description--done-today]="isDoneToday"
  class="__description">
  <span class="__name">{{name}}</span>
</div>

<div class="__actions">
  <button
    *ngIf="!isEditMode; else deleteBtn"
    (click)="score.emit()" mat-flat-button>
    <span class="__points"> +{{points}}&nbsp;<mat-icon class="__points-icon">star</mat-icon></span>
  </button>

  <ng-template #deleteBtn>
    <button
      (click)="remove.emit()"
      mat-icon-button
      type="button"
      color="primary">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</div>
