:host:nth-child(even) {
  background: #f1f0f8;
}

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px;
}

:host:active {
  background: #e5e4ea;
}

.__actions {
  min-width: 84px;
}

.__actions-button {
  width: 100%;
  text-align: right;
}

.__name {
  font-size: 14px;
  font-weight: 500;
  margin-right: 16px;
}

.__points {
  display: inline-flex;
  align-items: center;
}

.__points-icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
  margin-bottom: 2px;
}

.__list-header {
  display: flex;
}

.__description.__description--done-today {
  color: gray;
  font-style: italic;

  .__name {
    font-size: 12px;
  }
}

.__description--with-subtasks {
  padding-top: 8px;
}

.__subtasks {
  padding: 8px 16px;
}

.__subtask {
  font-size: 14px;
}

.__subtask-points {
  font-weight: 500;
}
.__subtask-checkbox {
  margin-right: 4px;
}

.__subtask-points-icon {
  height: 13px;
  width: 13px;
  font-size: 13px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.__subtask + .__subtask{
  margin-top: 8px;
}

.__subtask--finished {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}
