<ng-container *ngIf="isShortForm; else combinedTaskView">
  <div
    [class.__description--readonly]="isReadonly"
    [class.__description--done-today]="isDoneToday"
    class="__description">
    <mat-checkbox
      *ngIf="isCheckboxVisible"
      (change)="checkboxClick.emit()"
      [checked]="isChecked"
      class="__checkbox"
      color="primary"></mat-checkbox>
    <span class="__name">{{name}}</span>
  </div>

  <div class="__actions">
    <button
      *ngIf="!isReadonly"
      class="__actions-button"
      (click)="score.emit()" mat-flat-button>
      <span class="__points"> +{{points}}&nbsp;<mat-icon class="__points-icon">star</mat-icon></span>
    </button>
  </div>
</ng-container>

<ng-template #combinedTaskView>
  <div
    class="__description __description--with-subtasks">
    <span class="__name">{{name}}</span>
    <div class="__subtasks">
      <div
        class="__subtask"
        [class.__subtask--finished]="subtask.isFinished"
        *ngFor="let subtask of subtasks">
        <mat-checkbox
          class="__subtask-checkbox"
          (change)="onFinishSubtask.emit(subtask)"
          [disabled]="subtask.isFinished"
          [checked]="subtask.isFinished"></mat-checkbox>{{subtask.name}} <span *ngIf="!subtask.isFinished" class="__subtask-points">({{subtask.points}}<mat-icon class="__subtask-points-icon">star</mat-icon>)</span>
      </div>
    </div>
  </div>
</ng-template>
