<form
  class="__form"
  (ngSubmit)="addActivityRecord()">
  <mat-form-field>
    <mat-label>Название</mat-label>
    <input
      matInput
      [formControl]="$any(form.get('name'))"
      type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Очков за задание</mat-label>
    <input
      matInput
      [formControl]="$any(form.controls.points)"
      type="number">
  </mat-form-field>

  <div>
    <button
      class="__button"
      type="button"
      (click)="closeModal()"
      mat-button>Отменить</button>
    <button
      class="__button"
      mat-button>Зачесть!</button>
  </div>

</form>
