@import "~src/variables";

:host {
  display: flex;
  padding: 16px;
  background: $menuColor;
  border-bottom: solid 1px #bcb4db;
  align-items: center;
}

.__current-page {
  font-weight: 500;
}

.__counter {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.__actions {
  margin-left: auto;
  margin-right: 16px;
  margin-top: -8px;
  margin-bottom: -8px;
}
