<ng-container *ngIf="activities$ | async; let activities">
    <div class="__list-header">
      <a [routerLink]="['/create-activity']">Добавить активность</a>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button
        (click)="openScoreNotFromListModal()"
        mat-menu-item>
        Засчитать не из списка
      </button>
    </mat-menu>

    <div
      style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      #itemMenuTrigger
      [matMenuTriggerFor]="itemMenu"
      class="__item-mat-menu-trigger"></div>

    <div class="__container">
      <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Регулярные">
          <ng-container *ngIf="activities.length; else zeroState">
            <app-activity-list-item
              *ngFor="let activity of activities$ | async; trackBy: trackByName"
              (press)="openContextMenu($event, activity)"
              [isDoneToday]="isDoneToday(activity)"
              [isEditMode]="isEditMode"
              [name]="activity.name"
              [points]="activity.points"
              (score)="scoreActivity(activity)"
            >
            </app-activity-list-item>
          </ng-container>
        </mat-tab>
        <mat-tab label="Единоразовые">
          <ng-container *ngIf="oneTimeActivities$ | async; let oneTimeActivities">
            <ng-container *ngIf="oneTimeActivities.length; else zeroState">
              <app-activity-list-item
                *ngFor="let activity of oneTimeActivities; trackBy: trackByName"
                (press)="openContextMenu($event, activity)"
                [isDoneToday]="isDoneToday(activity)"
                [isEditMode]="isEditMode"
                [name]="activity.name"
                [points]="activity.points"
                (score)="scoreActivity(activity)"
              >
              </app-activity-list-item>
            </ng-container>
          </ng-container>

        </mat-tab>
      </mat-tab-group>
    </div>

</ng-container>

<mat-menu #itemMenu="matMenu">
  <ng-template matMenuContent let-activity="activity">
    <button
      (click)="editActivity(activity)"
      mat-menu-item>
      Редактировать
    </button>

    <button
      (click)="deleteActivity(activity)"
      mat-menu-item>
      Удалить
    </button>
  </ng-template>
</mat-menu>

<ng-template #zeroState>
  <div class="__zero-state">
    Нету активностей, которые бы можно было отметить.
  </div>
</ng-template>
