<ng-container *ngIf="activities$ | async; let activities">

    <ng-template
      #actionsPortal
      cdkPortal>
      <button
        [queryParams]="{tag: tagFilter$.value, isOneTime: isOneTimeMode}"
        [routerLink]="['/create-activity']"
        color="primary"
        mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>

      <button
        color="primary"
        (click)="openScoreNotFromListModal()"
        mat-icon-button>
        <mat-icon>check</mat-icon>
      </button>
    </ng-template>

    <div
      *ngIf="!isOneTimeMode"
      class="__tab-heading">

      <ng-container *ngIf="!isEditMode; else editDoneBtn">
        <div
          (click)="changeTabTo(TAB_INDEXES.COMMON)"
          (press)="openContextMainTagMenu($event)"
          [class.__tab-link--current]="selectedTabIndex === TAB_INDEXES.COMMON && !tagFilter$.value"
          class="__tab-link">
          Все
        </div>

        <div
          *ngFor="let tag of tags$ | async"
          [class.__tab-link--current]="tagFilter$.value === tag.name"
          (press)="openContextTagMenu($event, tag)"
          (click)="filterActivitiesByTag(tag)"
          class="__tab-link __tab-link--{{tag.color}}">
          {{tag.name}}
        </div>

        <button
          [routerLink]="['/create-tag']"
          class="__add-tag-btn"
          color="primary"
          mat-icon-button>
          <mat-icon>tag</mat-icon>
        </button>
      </ng-container>

      <ng-template #editDoneBtn>
        <button
          (click)="finishCompositionEdit()"
          mat-stroked-button>
          Завершить редактирование
        </button>
      </ng-template>

    </div>

    <div
      style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      #itemMenuTrigger
      [matMenuTriggerFor]="itemMenu"
      class="__item-mat-menu-trigger"></div>

    <div
      style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      #tagMenuTrigger
      [matMenuTriggerFor]="tagMenu"
      class="__item-mat-menu-trigger"></div>

    <div
      style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      #mainTagMenuTrigger
      [matMenuTriggerFor]="mainTagMenu"
      class="__item-mat-menu-trigger"></div>

    <div
      cdkDropList
      (cdkDropListDropped)="dropItem($event)"
      class="__container">
      <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab>
          <ng-container *ngIf="isAnyActivityVisible || isEditMode; else zeroState">

            <div *ngIf="!(activities$ | async).length">
              <ng-container *ngTemplateOutlet="zeroState"></ng-container>
            </div>

            <ng-container *ngFor="let activity of activities$ | async; trackBy: trackByName">
              <app-activity-list-item
                *ngIf="isEditMode || isEntryVisible(activity)"
                (press)="!isEditMode && openContextMenu($event, activity)"
                cdkDrag
                [cdkDragData]="activity"
                [cdkDragDisabled]="!isEditMode"
                [isDoneToday]="isDoneToday(activity)"
                [isEditMode]="isEditMode"
                [name]="activity.name"
                [color]="getActivityColor(activity)"
                [points]="activity.points"
                [isReadonly]="isEditMode"
                (score)="scoreActivity(activity)"
                [isCheckboxVisible]="isActivityCanBeHidden(activity)"
                (checkboxClick)="onCheckboxClick(activity)"
                [isChecked]="isEntryVisible(activity)"
              >
              </app-activity-list-item>
            </ng-container>
          </ng-container>
        </mat-tab>
        <mat-tab>
          <ng-container *ngIf="oneTimeActivities$ | async; let oneTimeActivities">
            <ng-container *ngIf="oneTimeActivities.length; else zeroState">
              <app-activity-list-item
                *ngFor="let activity of oneTimeActivities; trackBy: trackByName"
                (press)="openContextMenu($event, activity)"
                (onFinishSubtask)="scoreSubtask(activity, $event)"
                [subtasks]="activity.subtasks"
                [isDoneToday]="isDoneToday(activity)"
                [isEditMode]="isEditMode"
                [name]="activity.name"
                [points]="activity.points"
                (score)="scoreActivity(activity)"
              >
              </app-activity-list-item>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>

</ng-container>

<mat-menu #itemMenu="matMenu">
  <ng-template matMenuContent let-activity="activity">
    <button
      (click)="editActivity(activity)"
      mat-menu-item>
      Редактировать
    </button>

    <button
      (click)="deleteActivity(activity)"
      mat-menu-item>
      Удалить
    </button>

    <button
      mat-menu-item
      (click)="splitToSubtasks(activity)"
      *ngIf="activity.isOneTime">
      Разбить на подзадачи
    </button>
  </ng-template>
</mat-menu>

<mat-menu #tagMenu="matMenu">
  <ng-template matMenuContent let-tag="tag">
    <button
      (click)="toggleEditMainMenuComposition(tag.name)"
      mat-menu-item>
      Настроить вкладку
    </button>

    <button
      (click)="editTag(tag)"
      mat-menu-item>
      Редактировать
    </button>

    <button
      (click)="deleteTag(tag)"
      mat-menu-item>
      Удалить
    </button>
  </ng-template>
</mat-menu>

<mat-menu #mainTagMenu="matMenu">
  <ng-template matMenuContent>
    <button
      (click)="toggleEditMainMenuComposition()"
      mat-menu-item>
      Настроить вкладку
    </button>
  </ng-template>
</mat-menu>

<ng-template #zeroState>
  <div class="__zero-state">
    <ng-container *ngIf="(activities$ | async).length && !isOneTimeMode; else emptyActivityList">
      Все добавленные активности скрыты, <a [queryParams]="{tag: tagFilter$.value, isOneTime: isOneTimeMode}" [routerLink]="'/create-activity'">создайте</a> новые, или <a href="javascript:void(0);" (click)="toggleEditMainMenuComposition(tagFilter$.value)">отредактируйте</a> видимость текущих
    </ng-container>

    <ng-template #emptyActivityList>
      Нету активностей, которые бы можно было отметить. <a [queryParams]="{tag: tagFilter$.value, isOneTime: isOneTimeMode}" [routerLink]="'/create-activity'">Создать</a>
    </ng-template>
  </div>
</ng-template>
