@import "~src/variables";

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
}

.__container {
  z-index: 0;
  margin: 0 -8px 32px -8px;
}

.__zero-state {
  padding: 16px 12px;
  font-size: 16px;
  line-height: 1.4;
}

:host ::ng-deep mat-tab-header {
  display: none;
}

.__tab-heading {
  position: sticky;
  top: 0px;
  background: #fafafa;
  padding: 8px 8px 0 8px;
  z-index: 1;
  margin: -8px -8px 2px -8px;
}

.__tab-link {
  box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 4px;
  color: #000000;
  margin-bottom: 4px;
  text-align: center;
  margin-right: 8px;
  border-bottom: solid 3px;
  border-color: rgba(0,0,0,0);
}

.__tab-link:last-of-type {
  margin-right: 0;
}

.__tab-link--current {
  border-color: #000000;
}

.__tab-link--RED {
  color: #f0464e;
  &.__tab-link--current {
    border-color: #f0464e;
  }
}

.__tab-link--BLUE {
  color: #487bd9;
  &.__tab-link--current {
    border-color: #487bd9;
  }
}

.__tab-link--GREEN {
  color: #5fa167;
  &.__tab-link--current {
    border-color: #5fa167;
  }
}

.__tab-link--ORANGE {
  color: #ae5a10;
  &.__tab-link--current {
    border-color: #ff9000;
  }
}

.__tab-link--LIGHT_BLUE {
  color: #418999;
  &.__tab-link--current {
    border-color: #4ec6e1;
  }
}

.__tab-link--PURPLE {
  color: #673ab7;
  &.__tab-link--current {
    border-color: #673ab7;
  }
}

.__add-tag-btn {
  font-size: 22px;
  line-height: 30px;
  height: 30px;
  width: 40px;
  margin-left: -4px;
}

.cdk-drag-placeholder {
  background: #673ab766!important;
}
