@import "~src/variables";

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
}

.__container {
  margin-bottom: 32px;
}

.__zero-state {
  padding: 16px 0;
  font-size: 14px;
}

:host ::ng-deep mat-tab-header {
  display: none;
}

.__tab-heading {
  border-bottom: solid 1px $borderColor;
  padding-bottom: 8px;
  margin-bottom: 2px;
}

.__tab-link {
  box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  padding: 4px 8px;
  color: #673ab7;
  margin-bottom: 4px;
  text-align: center;
  margin-right: 8px;
  border-bottom: solid 3px;
  border-color: rgba(0,0,0,0);
}

.__tab-link:last-of-type {
  margin-right: 0;
}

.__tab-link--current {
  border-color: #673ab7;
}

.__tab-link--RED {
  color: #f0464e;
  &.__tab-link--current {
    border-color: #f0464e;
  }
}

.__tab-link--BLUE {
  color: #487bd9;
  &.__tab-link--current {
    border-color: #487bd9;
  }
}

.__tab-link--GREEN {
  color: #5fa167;
  &.__tab-link--current {
    border-color: #5fa167;
  }
}

.__tab-link--ORANGE {
  color: #ae5a10;
  &.__tab-link--current {
    border-color: #ff9000;
  }
}

.__tab-link--LIGHT_BLUE {
  color: #418999;
  &.__tab-link--current {
    border-color: #4ec6e1;
  }
}

.__tab-link--PURPLE {
  color: #673ab7;
  &.__tab-link--current {
    border-color: #673ab7;
  }
}
