<form
  class="__form"
  (ngSubmit)="addActivity()">
  <mat-form-field>
    <mat-label>Название</mat-label>
    <input
      matInput
      [formControl]="$any(form.get('name'))"
      type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Очков за задание</mat-label>
    <input
      matInput
      [formControl]="$any(form.controls.points)"
      type="number">
  </mat-form-field>

  <mat-checkbox color="primary" [formControl]="$any(form.controls.isOneTime)">Нерегулярное</mat-checkbox>

  <div class="__form-btns">
    <button
      (click)="back()"
      type="button"
      mat-raised-button>
      Назад
    </button>
    <button color="primary" mat-raised-button>{{saveBtnText}}</button>
  </div>
</form>
