@import "~src/variables";

.__form {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.__form-btns {
  margin-top: 16px;
}

button + button {
  margin-left: 8px;
}

.__info-text {
  font-size: 12px;
}

.__color {
  height: 32px;
  width: 32px;
  border-radius: 32px;
}

.__color--RED {
  background: $redColor;
}

.__color--GREEN {
  background: $greenColor;
}

.__color--ORANGE {
  background: $orangeColor;
}

.__color--LIGHT_BLUE {
  background: $lightBlueColor;
}

.__color--BLUE {
  background: $blueColor;
}

.__color--PURPLE {
  background: $purpleColor;
}

.__color-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
