$backgroundColor: #fafafa;
$menuColor: #f1f0f8;
$borderColor: #e1e1e1;

$redColor: #f0464e;
$blueColor: #487bd9;
$greenColor: #5fa167;
$orangeColor: #ff9000;
$lightBlueColor: #4ec6e1;
$purpleColor: #673ab7;
